.products-title {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  flex-direction: column;
}
.products-title > div:first-child {
  display: flex;
  justify-content: space-between;
}
.section1-listcoin {
  border: 1px solid #f3f3f3;
  padding: 1rem;
}
.products-content > .section1 > div {
  display: flex;
  justify-content: space-between;
}
.edit-product-content-title {
  margin: 5px;
  color: black;
}
.products-content > .section1 > div > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.products-content > .section1 > div > div > span {
  padding-left: 1rem;
  font-size: 14px;
  margin-top: 0.5rem;
}
.product-input-update {
  display: flex;
  flex-direction: column;
  margin-top: 0.7rem;
}
.product-input-update > span {
  margin: 0.3rem 0;
}
.products-content > .section2 > div {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-left: 1rem;
  border: 1px solid #f3f3f3;
}
.products-content > .section2 > div > span {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.product-input-update > div {
  display: flex;
  justify-content: space-between;
  margin-top: 0.7rem;
}
.product-input-update > div > div {
  display: flex;
  flex-direction: column;
}
.view-more {
  display: flex;
  justify-content: end;
}
.btn-view-more {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
/* chart-item */
.chart-charges-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.list-charges-title {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0 0.5rem;
}
/* detail-charges */
.btn-search-charges{
  display: flex;
  justify-content: space-between;

}
.btn-search-charges>div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 80%;
}
.modal_datepicker-chartCoin {
  z-index: 9999;
  width: 365px;
  position: absolute;
  top: 39px;
  right: 0;
}
.calendar-select-chartsCoin {
  top: 140px;
  left: 1027px;
}
.calendar-select-chartsCoin > div {
  width: 365px;
}
.icon-reset-date {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9999;
  cursor: pointer;
}
.date-picker-search > div > i {
  display: none;
}
.icon-reset-date-hide {
  display: none;
}
.convert-col {
  font-weight: lighter;
  position: relative;
  overflow: hidden !important;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
