.checkbox-image > .ant-checkbox {
  position: absolute;
  top: 0;
  left: 0;
}
.btn-media-options {
  display: flex;
  justify-content: space-between;
  padding: 1.3rem 1rem;
  border-bottom: 1px solid #bbb8b8;
}
.menu-images {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-bottom: 1px solid #c5c0c0;
}
.container-images {
  background: #e5e5e5;
}
.section-upload{
  height: 77vh;
  padding: 0 1rem;
}
.ant-upload-drag {
  height: 30% !important;
}
.ant-btn{
  border-radius: 0px;
}
.btn-load-images{
  position: absolute;
  bottom: 0;
  right: 5px;
}
/* album */
.container-album {
  display: flex;
  flex-direction: column;
}
.create-album {
  display: flex;
  flex-direction: column;
  padding: 0 .5rem;
}
.create-album>div{
  padding: 1rem 1rem;
  background: rgb(234, 234, 234);
}
.input-album-name {
  padding: 0;
  border: none;
  background: rgb(234, 234, 234);
  border-bottom: 1.5px solid;
  border-radius: 0;
  height: 4rem;
  width: 100%;
  font-size: 2rem;
}
.create-album-pick {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dotted;
  margin: 2rem;
  cursor: pointer;
}
.image_picker {
  height: 70vh;
  overflow-y: scroll;
}
.image_picker .selected .checked .icon {
  height: 25px !important;
  width: 25px !important;
}
.image_picker .selected .checked {
  left: 5px;
  top: 5px;
}
.image_picker .responsive .thumbnail {
  padding: 0px !important;
  border: 5px solid #ffffff !important;
}
.image_picker .responsive .selected {
  border: 5px solid #7eadf5 !important;
  background-color: rgba(178, 34, 34, 0) !important;
}
.image_picker .responsive {
  /* width: 33.33333% !important; */
  margin: 10px !important;
}
.ant-card-cover > * {
  width: 150px;
  height: 150px;
}
.add-images {
  margin: 1.5rem 0.5rem 1rem;
  font-size: 1.2rem;
}
.btn-submit-album {
  margin: 0 auto;
  width: 80%;
}
