.section1-promotion,
.section2-promotion {
  padding: 0.5rem;
}
.section1-promotion > div,
.section2-promotion > div {
  border: 1px solid rgb(196, 194, 194);
  padding: 0.5rem;
}
.promotion-title-field {
  margin: 0.5rem 0;
}
.choose-promo {
  display: flex;
  flex-direction: row;
}
.choose-promo > label {
  border-radius: 0 !important;
}
.section2-promotion > div > div {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}
.btn-create-promo {
  position: absolute;
  top: -395px;
  right: 8px;
}
/*  */
.input-coin-event-money{
  display: flex;
  flex-direction: row;
}
/* list promo */
.btn-switch-listPromo{
  margin-bottom: .5rem;
}
.container-listPromo{
  position: relative;
}
.btn-search-promo{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: .2rem;
  right: 0;
}
/* detail promo */
.promo-title{
  display: flex;
  flex-direction: column;
}
.promo-title>div{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}
.detail-bill-title{
  display: flex;
}
.detail-game{
  display: flex;
}