.section1-promotion,
.section2-promotion {
  padding: 0.5rem;
}
.section1-promotion > div,
.section2-promotion > div {
  border: 1px solid #eeeeee;
  padding: 1rem;
}
.promotion-title-field {
  margin: 0 0 0.5rem 0;
}
.promotion-title-status {
  display: flex;
  margin: 0.5rem 0 0 0;
  align-items: baseline;
  justify-content: space-between;
}
.promotion-choose-typeEvent > label {
  margin-right: 1rem;
  border-radius: 4px !important;
}
.promotion-choose-typeEvent > .ant-radio-button-wrapper-checked {
  background: #ffc50e !important;
  color: black !important;
  border-color: #ffc50e !important;
}
.promotion-choose-typeEvent
  > .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
  background: #ffc50e !important;
  opacity: 1;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.choose-promo {
  display: flex;
  flex-direction: row;
}
.choose-promo > label {
  border-radius: 0 !important;
}
.btn-create-promo {
  position: absolute;
  top: 0;
  right: 8px;
  width: 100px;
}
.btn-update-promo {
  position: absolute;
  top: 0;
  right: 120px;
  width: 100px;
}
/*  */
.input-coin-event-money {
  display: flex;
  flex-direction: row;
}
/* list promo */
.btn-switch-listPromo {
  margin-bottom: 0.5rem;
}
.container-listPromo {
  position: relative;
}
.btn-search-promo {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0.2rem;
  right: 160px;
}
/* detail promo */
.promo-title {
  display: flex;
  flex-direction: column;
}
.promo-title > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}
.detail-bill-title {
  display: flex;
}
.detail-game {
  display: flex;
}
.promo-title-name {
  display: flex;
  justify-content: space-between;
}
.btn-more-item {
  margin: 0 1rem 1rem;
}
/* menu choose platform */
.promo-choose-platform {
  display: flex;
  margin: 0.7rem 0 0.5rem 0;
  flex-direction: column;
}
.promo-choose-platform > div {
  display: flex;
  margin-bottom: 0.5rem;
}
.promo-choose-platform-name > h3,
.promo-choose-platform-server > h3 {
  margin-right: 1.5rem;
}
.promo-choose-platform-name {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 50%;
  justify-content: space-between;
}
.promo-choose-platform-server {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding-left: 1rem;
  width: 50%;
}
.promo-section2 {
  margin-top: 2rem;
  border-top: 1px solid #d9d9d9;
  padding-top: 1rem;
}
/* section3-time */
.section2-promotion > div > div {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0;
}
.section2-promotion-pickTime {
  display: flex;
  justify-content: space-between;
}
.section2-promotion-footer {
  background: #eeeeee;
  color: red;
}
/* section4 */
.section4-promotion {
  border: 1px solid #eeeeee;
  margin: 0.5rem;
}
.section4-promotion-title {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: #eeeeee;
}
.promo-input-title-numb {
  width: 15%;
}
.promo-input-title-item,
.promo-input-item-input {
  width: 85%;
  padding: 0 1rem;
}
.promo-input-coin-event {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promo-input-item {
  padding: 1rem;
}
.pickTime-footer {
  display: flex;
  justify-content: space-between;
}
.dropdown-coin-event {
  display: none !important;
}
.select-coin-event > .ant-select-selection--single {
  cursor: auto;
}
.select-disable-detail > div {
  border: none !important;
}
.more-reward {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.more-items {
  padding: 1rem 0.5rem 1rem 0.25rem;
  display: flex;
  align-items: center;
}
.more-items-detail {
  padding: 1rem 0 1rem 1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #f1ecec;
}
.more-reward-detail {
  padding: 1rem 1rem 1rem 1.5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
  border-right: 1px solid #f1ecec;
}
.ant-select-selection {
  border-radius: 0;
}
.input-gift-container{
  position: initial;
}
.addPromoId{
  display: flex;
  flex-direction: column;
  width: 30%;
}
.addPromoName{
  display: flex;
  flex-direction: column;
  width: 65%;
}
.add-name-info>div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select-image-promotion{
  border: 1px solid #eeeeee;
  margin-top: .5rem;
  padding-bottom: .5rem;
}
.select-image-promotion-title{
  padding: 1rem;
  background: #eeeeee;
}
.create-promo{
  width: 150px;
  position: absolute;
  top: .2rem;
  right: 0;
}