.stats {
  display: flex;
  flex-direction: row;
}
.chart-stats{
    padding:0 2rem;
}
.modal_datepicker {
  z-index: 9999;
  width: 365px;
  position: absolute;
  top: 220px;
}
.input_date_chart > input {
  padding-right: 0.75rem !important;
  border-radius: 0 !important;
  border-top: 0;
  border-right: 0;
  height: 2.2rem;
}
.input_date_chart > div > .ant-calendar-picker-input {
  border-radius: 0 !important;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  height: 2.2rem;
}
.input_month_chart > input {
    padding-right: 0.75rem !important;
    border-radius: 0 !important;
    border-top: 0;
    border-right: 0;
    height: 2.2rem;
  }
  .input_month_chart > div > .ant-calendar-picker-input {
    border-radius: 0 !important;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    height: 2.2rem;
  }
.datepicker_footer {
  display: flex;
  justify-content: space-between;
}
.input_date_chart,.input_month_chart {
  width: 50%;
}
.calendar-select-stats {
  top: 220px;
}
.calendar-selectmonth-stats {
    top: 254px !important;
  }
.calendar-select-stats > .ant-calendar,.calendar-selectmonth-stats > .ant-calendar {
  width: 365px !important;
}
.ant-calendar-today-btn {
  display: none !important;
}
.ant-calendar-footer-extra {
  text-align: right !important;
}
.input_date_chart > input {
  padding-right: 0.75rem !important;
  border-radius: 0 !important;
  border-top: 0;
  border-right: 0;
  height: 2.2rem;
}
.input_date_chart > div > .ant-calendar-picker-input {
  border-radius: 0 !important;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  height: 2.2rem;
}
.datepicker_footer > span {
  cursor: pointer;
}
.datepicker_footer > span:hover {
  color: #0085ff;
}
.modal_datepicker_hide {
  display: none;
}
