.container-userdetail {
  padding: 1rem 2rem;
  background: white;
}
.container-info {
  padding: 1rem;
}
.section1 {
  padding: 1rem;
  background: #f3f3f3;
  margin-bottom: 2rem;
}
.avatar-detail {
  padding: 1rem;
}
.info-detail {
  padding: 0 0 0 2rem;
  border-left: 2px solid #b9b9b9;
}
.info-detail-title {
  border-bottom: 2px solid #b9b9b9;
  margin-bottom: 0.4rem;
}
.avatar-detail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: black;
}
.mobile-status-detail,
.info-detail-content > div {
  display: flex;
  justify-content: space-between;
}
.detail-user {
  color: black;
}
.edit-user {
  position: absolute;
  top: 0;
  right: 3%;
  z-index: 9;
}
.user-status {
  padding: 1rem;
}
/* css section update user */
.user-mobile {
  display: flex;
  align-items: flex-end;
}
.input-update {
  padding: 0;
  border: none;
  background: #f3f3f3;
  border-bottom: 1.5px solid;
  border-radius: 0;
  height: 25px;
  margin-left: 0.5rem;
}
input:focus {
  outline: none !important;
}
.select-infor > div {
  height: 25px;
  font-size: 14px;
  border: none;
  background: #f3f3f3;
  border-bottom: 1.5px solid;
  border-radius: 0;
  outline: none;
}
.select-infor > div:focus {
  border: none !important;
}
.datePicker-user > div > input {
  border: none;
  background-color: #f3f3f3;
  border-bottom: 1.5px solid;
  border-radius: 0;
  height: 25px;
}
.btn-update-gr {
  position: absolute;
  top: 0;
  right: 3%;
}
.input-dateOfIssue,.input-dateOfIssue>div,.input-dateOfIssue>div>input{
  height: 25px;
}
.input-dateOfIssue>div>input{
  border: none;
  background-color: #f3f3f3;
  border-bottom: 1.5px solid;
  border-radius: 0;
  height: 25px;
}